*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

:root {
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);
  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.625rem;
  background-color: var(--very-light-grayish-blue);
}

/* ******************* */

.container {
  max-width: 46.875rem;
  margin: 0 auto;
  background-color: var(--white);
}

.content {
  padding: 1.5625rem;
}

.row-notifications {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;

  &:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}

.notifications {
  display: flex;
  gap: 0.75rem;
  color: var(--very-dark-blue);

  & span {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 1rem;
    border-radius: 0.3125rem;
    padding: 0px 0.625rem;
    color: var(--white);
    background-color: var(--blue);
  }
}

.text {
  cursor: pointer;
  color: var(--dark-grayish-blue);
}

.post {
  border-radius: 0.625rem;
  
  &:not(:last-child) {
    margin-bottom: 0.4375rem;
  }

  .post__content {
    display: flex;
    padding: 1.25rem;
    gap: 1.25rem;
  }

  .post__content_direction {
    flex-direction: column;
    gap: 0;
  }

  .post__info_modify {
    margin-right: auto;
  }

  .post__info_flex {
    display: flex;
    gap: 0.9375rem;

    &:not(:last-child) {
      margin-bottom: 0.625rem;
    }
  }

  .post__image {
    & img {
      width: 3.125rem;
      height: 3.125rem;
    }
  }

  .post__info-items {
    display: inline-block;
  }

  .post__user-name {
    font-weight: 800;
    color: var(--very-dark-blue);
  }

  .post__action {
    color: var(--grayish-blue);

    & a {
      font-weight: 800;
      color: var(--dark-grayish-blue);
    }
  }

  .post__time {
    color: var(--grayish-blue);
  }

  .post__message {
    max-width: 36.875rem;
    border-radius: 0.3125rem;
    margin-left: 4.375rem;
    padding: 0.9375rem;
    color: var(--dark-grayish-blue);
    border: 0.0625rem solid var(--grayish-blue);
  }

  .post__liked-info {
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    transition: all 0.3s ease-in-out;

    & img {
      width: 3.125rem;
      height: 3.125rem;
    }
  }
}

.background {
  background-color: var(--very-light-grayish-blue);
}

.circle_red {
  position: relative;

  &::after {
    position: absolute;
    display: block;
    content: "";
    top: 10px;
    right: -13px;
    font-weight: 800;
    width: 0.4375rem;
    height: 0.4375rem;
    border-radius: 50%;
    background-color: var(--red);
  }
}

/* MEDIA (PHONE) */

@media (min-width: 767px) {
  .post__action {
    & a {
      &:hover {
        color: var(--blue);
      }
    }
  }

  .post__message {
    &:hover {
      cursor: pointer;
      background-color: var(--light-grayish-blue-1);
    }
  }

  .post__liked-info {
    &:hover {
      border-radius: 0.3125rem;
      border: 0.125rem solid var(--light-grayish-blue-1);
    }
  }

  :is(.text, .post__user-name) {
    &:hover {
      color: var(--blue);
    }
  }
}

@media (max-width: 767px) {
  .content {
    padding: 0.625rem;
  }
}
